@page "/events/{eventid:guid}"
@using Functions.Shared.DTOs
@using Functions.Shared.Interfaces
@using Functions.Client.Components

<div class="event-detail" >
    @if (eventItem?.Id != null)
    {
        <PageTitle>@eventItem.Name</PageTitle>

        <div class="event-detail-content">
            @if (eventItem.FileId != null)
            {
                <FnImage FileId="@eventItem.FileId.Value" CssClass="card-img-top"/>
            }

            <h1>@eventItem.Name</h1>
            <p>Location: @eventItem.Location</p>
            <p>Description: @eventItem.Description</p>
            <p>Start: @eventItem.StartDateTime</p>
            <p>End: @eventItem.EndDateTime</p>
        </div>

        @if (eventItem.HostId == userId)
        {
            <div>
                <h1>Ankündigung schreiben</h1>
                <textarea @bind="@announcemenRequest.Message" rows="4" cols="50"></textarea>
                <button @onclick="CreateAnnouncement">Erstellen</button>
            </div>
        }

        @if (messages.Any()) {
            <h1>Messages</h1>
            <ul>
                @foreach (var message in messages)
                {
                    <li>
                        <p>@message.Text</p>
                        <p style="font-size: 11px;">@message.MessageDate</p>
                    </li>
                }
            </ul>
        }

        <button @onclick="() => ReturnToMainPage()">Back to Main Page</button>
    }
    else
    {
        <PageTitle>Event</PageTitle>

        <div class="event-detail-content">
            <h1>No Event</h1>
            <button @onclick="() => ReturnToMainPage()">Back to Main Page</button>
        </div>
    }
</div>
