@page "/events/{eventid:guid}"
@using Functions.Client.Components.Comments
@using Functions.Shared.DTOs
@using Functions.Shared.Enum
@using Functions.Shared.Extensions
@using Functions.Shared.Interfaces
@using Functions.Client.Components
@using Functions.Shared.DTOs.Messages

<div class="event-detail" >
    @if (eventItem?.Id != null)
    {
        <PageTitle>@eventItem.Name</PageTitle>

        <div class="event-detail-content">
            @if (eventItem.FileId != null)
            {
                <FnImage FileId="@eventItem.FileId.Value" CssClass="card-img-top"/>
            }

            <h1>@eventItem.Name</h1>
            <p>Location: @eventItem.Location</p>
            <p>Description: @eventItem.Description</p>
            <p>Start: @eventItem.StartDateTime</p>
            <p>End: @eventItem.EndDateTime</p>
        </div>

        <div>
            <button @onclick="() => PostParticipation(ParticipationStatus.Accepted)" style="font-weight: @(participations.Status == ParticipationStatus.Accepted ? "bold" : "normal")">Ich komme</button>
            <button @onclick="() => PostParticipation(ParticipationStatus.Unsure)" style="font-weight: @(participations.Status == ParticipationStatus.Unsure ? "bold" : "normal")">Ich komme vielleicht</button>
            <button @onclick="() => PostParticipation(ParticipationStatus.Declined)" style="font-weight: @(participations.Status == ParticipationStatus.Declined ? "bold" : "normal")">Ich kann nicht</button>
        </div>

        <div>
            <h1>Teilnehmer</h1>
            <ul>
                @foreach (var participant in participations.Users.OrderBy(x => x.Status))
                {
                    <li>
                        <p>@participant.FullName</p>
                        <p style="font-size: 11px;">@participant.Status.GetDescription()</p>
                    </li>
                }
            </ul>
        </div>

        @if (eventItem.HostId == userId)
        {
            <div>
                <h1>Ankündigung schreiben</h1>
                <textarea @bind="@announcemenRequest.Message" rows="4" cols="50"></textarea>
                <button @onclick="CreateAnnouncement">Erstellen</button>
            </div>
        }

        @if (messages.Where(x => x.Type == MessageTypes.Announcement).Any())
        {
            <h1>Ankündigungen</h1>
            <ul>
                @foreach (var message in messages.Where(x => x.Type == MessageTypes.Announcement).ToList())
                {
                    <li>
                        <p>@message.Text</p>
                        <p style="font-size: 11px;">@message.Creator.FullName - @message.MessageDate</p>
                    </li>
                }
            </ul>
        }

        @if (eventItem.HostId == userId)
        {
            <button @onclick="() => EditEvent()">Edit Event</button>
        }
        <div class="comments-section">
            <h1>Kommentare</h1>
            @if (messages.Any())
            {
                <ul class="comments-list">
                    @foreach (var message in messages.Where(x => x.Type == MessageTypes.Comment && x.ParentId == null).ToList())
                    {
                        <CommentComponent 
                            Comment="@message" 
                            AllComments="@messages.Where(x => x.Type == MessageTypes.Comment).ToList()" 
                            OnPostReply="@HandleReplySubmission"
                            IsAuthenticated="@isAuthenticated" />
                    }
                </ul>
            }

            <div class="reply-box">
                <textarea class="reply-textarea"
                          @bind="@comment"
                          placeholder="Beteilige dich an der Unterhaltung"></textarea>
                <div class="reply-actions">
                    <button class="reply-submit" @onclick="() => PostComment(null)">Hinzufügen</button>
                </div>
            </div>
        </div>

        <br />

        <button @onclick="() => ReturnToMainPage()">Back to Main Page</button>
    }
    else
    {
        <PageTitle>Event</PageTitle>

        <div class="event-detail-content">
            <h1>No Event</h1>
            <button @onclick="() => ReturnToMainPage()">Back to Main Page</button>
        </div>
    }
</div>